* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:99vw;
    overflow-x: hidden;
}
.coontainer {
    position: relative;
    width: 99;
}
/* Start Navbar */
.coontainer .navBar .navbar {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #E5E9F2;
    height: 72px;
    width: 100%;
}

.coontainer .navBar .navbar .icon {
    width: 46px;
    height: 50px;
    margin-right:1.5%;
}

.coontainer .navBar .navbar .place {
    display: flex;
    width: 114px;
    height: 36px;
    margin-right:4%;
    cursor: pointer;
    align-items: center;
}

.coontainer .navBar .navbar .place h3 {
    width: 44px;
    height:36px;
    font-family: Tajawal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #212529;
    text-align: right;
    margin: 0 6px;
}

.coontainer .navBar .navbar .Sbar{
    align-items: center;
    height: 56px;
width:100%;
border-radius: 0px;
margin: auto;
}
.coontainer .navBar .navbar .form-control {
    border-radius: 50px;
    box-shadow: 0px 4px 16px 0px #33333314;
    box-shadow: 0px 4px 4px 0px #3333330A;
    outline: none;
    border: none;
    padding: 15px 20px;
}
.coontainer .navBar .navbar .form-control::placeholder{
    opacity:0.6;
}
.coontainer .navBar .navbar .Sbar .icon {
position: relative;
left:90px;
height:27px;
width:27px;
}
.coontainer .navBar .navbar .lang {
    position: relative;
    display: flex;
width: 48px;
height: 24px;
left:30px;
}
.coontainer .navBar .navbar .lang h3{
width: 31px;
height: 24px;
font-family: Tajawal;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;

}
.coontainer .navBar .navbar .lang svg{
    position: relative;
    height: 7.409999847412109px;
width: 12px;
top: 10px;
right:5px;
}
.coontainer .navBar .navbar .advertise{
    display: flex;
    margin-left:35px;
}
.coontainer .navBar .navbar .advertise svg{
    padding: 0 10px;
}
/* End Navbar */

/* Start Navbar 2 */
.coontainer .navBar2 .navbar{
    background-color:#B92728;
    height: 72px;
    align-items: center;
}
.coontainer .navBar2 .navbar .navbar-nav .dropdown{
    display: flex;
    align-items: center;
    position: relative;
    padding-left:15px;
    border-left:1px solid #C4C4C4;
}
.coontainer .navBar2 .navbar .navbar-nav .dropdown svg{
    cursor: pointer;
}
.coontainer .navBar2 .navbar .navbar-nav .dropdown li a{
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #000000;    
}
.coontainer .navBar2 .navbar .navbar-nav > li a{
    width:fit-content;
height: 20px;
font-family: 'Tajawal';
font-style: normal;
font-weight:400;
font-size: 16px;
color: #FFFFFF;
margin:0 10px;
}
.coontainer .navBar2 .navbar .form{
    display: flex;
    margin-right: auto;
    align-items: center;
    margin-left:5px;

}
.coontainer .navBar2 .navbar .form > div{
    text-align: center;
    margin: 0 22px;
    align-items: center;
    cursor: pointer;
}
.coontainer .navBar2 .navbar .form > div > span{
    display: block;
    font-family: 'Tajawal';
font-weight: 300;
font-size: 14px;
align-items: center;
color: #FFFFFF;

}
/* End Navbar 2*/

/* Stsrt Section 1 */

.coontainer .landing {
width: 100%;
height: 100vh;
} 
.coontainer .sec1 .landing .main-img{
    position: relative;
    height: 300px;
}
.coontainer .sec1 .landing .main-img img{
    width: 100%;
    height: 100%;
}
.coontainer .sec1 .landing .main-img > span{
position: absolute;
bottom:calc(50% - 15px);
cursor: pointer;
}
.coontainer .sec1 .landing .main-img .arrow-r{
    left: 30px;
}
.coontainer .sec1 .landing .main-img .arrow-l{
    right: 15px;
}

.bulits {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    display: flex;
}

.bulits li {
    width: 20px;
    height: 0;
    border: 2px solid #212529;
    margin: 5px;

}
.bulits li::marker{
    color: transparent;
}

.bulits li.active {
    border: 2px solid #B92728;
}

.coontainer .sec1 .landing .small-imgs{
    flex-wrap: wrap;
    padding-top:30px;
    width:fit-content;
    height:fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
}
.coontainer .sec1 .landing .small-imgs .crd span{
    display: block;
}
.coontainer .sec1 .landing .small-imgs .crd{
    padding: 22px;
}

.coontainer .sec1 .landing .small-imgs img{
    height: 100%;
    width: 100%;    
}
.coontainer .sec1 .landing .small-imgs span{
font-family: 'Tajawal';
font-weight: 500;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #212529;
margin-top: 20px;
}

.coontainer .sec1 .landing .brands{
    text-align: center;
}
.coontainer .sec1 .landing .brands h1{
font-family: 'Tajawal';
font-weight: 700;
font-size: 28px;
align-items: center;
color: #212529;
margin-top: 50px;
}
.coontainer .sec1 .landing .brands .imgs{
    margin: auto;
    align-items:center;
}
.coontainer .sec1 .landing .brands .imgs img{
    padding:25px 30px;
}

/* End Section 1 */