* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 99vw;
    overflow-x: hidden;
}

.coontainer {
    position: relative;
}

/* Start Navbar */
.coontainer .navBar .navbar,
.coontainer .mob-navBar .navbar {

    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #E5E9F2;
    height: 72px;
    width: 100%;
}

.coontainer .navBar .navbar .icon,
.coontainer .mob-navBar .navbar .icon {
    width: 46px;
    height: 50px;
    margin-right: 1.5%;
}

.coontainer .navBar .navbar .place,
.coontainer .mob-navBar2 .navbar .place {
    display: flex;
    width: 114px;
    height: 36px;
    margin-right: 4%;
    margin-left: 1.5%;
    cursor: pointer;
    align-items: center;
}

.coontainer .navBar .navbar .place h3,
.coontainer .mob-navBar2 .navbar .place h3 {
    width: 44px;
    height: 36px;
    font-family: Tajawal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #212529;
    text-align: right;
    margin: 0 6px;
}

.coontainer .navBar .navbar .Sbar,
.coontainer .mob-navBar .navbar .Sbar {
    align-items: center;
    height: 56px;
    width: 100%;
    border-radius: 0px;
    margin: auto;
}

.coontainer .navBar .navbar .form-control,
.coontainer .mob-navBar .navbar .form-control {
    border-radius: 50px;
    box-shadow: 0px 4px 16px 0px #33333314;
    box-shadow: 0px 4px 4px 0px #3333330A;
    outline: none;
    border: none;
    padding: 15px 20px;
}

.coontainer .navBar .navbar .form-control::placeholder,
.coontainer .mob-navBar .navbar .form-control::placeholder {
    opacity: 0.6;
}

.coontainer .navBar .navbar .Sbar .icon,
.coontainer .mob-navBar .navbar .Sbar .icon {
    position: relative;
    left: 50px;
    height: 17px;
    width: 17px;
}

.coontainer .navBar .navbar .lang,
.coontainer .mob-navBar2 .navbar .lang {
    position: relative;
    display: flex;
    width: 48px;
    height: 24px;
    left: 30px;
}

.coontainer .navBar .navbar .lang h3,
.coontainer .mob-navBar2 .navbar .lang h3 {
    width: 31px;
    height: 24px;
    font-family: Tajawal;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;

}

.coontainer .navBar .navbar .lang img,
.coontainer .mob-navBar2 .navbar .lang img {
    position: relative;
    height: 7.409999847412109px;
    width: 12px;
    top: 10px;
    right: 5px;
}

.coontainer .navBar .navbar .advertise {
    display: flex;
    margin-left: 35px;
}

.coontainer .navBar .navbar .advertise img {
    padding: 0 10px;
}

/* End Navbar */

/* Start Navbar 2 */
.coontainer .navBar2 .navbar,
.coontainer .mob-navBar2 .navbar {
    background-color: #B92728;
    height: 72px;
    align-items: center;
    height: 80px;
}

.coontainer .navBar2 .navbar .navbar-nav .dropdown {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 15px;
    border-left: 1px solid #C4C4C4;
}

.coontainer .navBar2 .navbar .navbar-nav .dropdown img {
    cursor: pointer;
    align-items: center;
}

.coontainer .navBar2 .navbar .navbar-nav .dropdown li a {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}

.coontainer .navBar2 .navbar .navbar-nav>li a {
    width: fit-content;
    height: 20px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 10px;
}

.coontainer .navBar2 .navbar .form {
    display: flex;
    margin-right: auto;
    align-items: center;
    /* margin-left: 5px; */

}

.coontainer .navBar2 .navbar .form>div {
    text-align: center;
    margin: 0 22px;
    align-items: center;
    cursor: pointer;
}

.coontainer .navBar2 .navbar .form>div>span {
    display: block;
    font-family: 'Tajawal';
    font-weight: 300;
    font-size: 14px;
    align-items: center;
    color: #FFFFFF;

}

/* End Navbar 2*/

/* Stsrt Section 1 */

.coontainer .landing {
    width: 100%;
}

.coontainer .sec1 .landing .main-img,
.coontainer .sec1 .landing .mob-main-img {
    position: relative;
}

.coontainer .sec1 .landing .main-img img,
.coontainer .sec1 .landing .mob-main-img img {
    width: 100%;
    height: 100%;
}

.coontainer .sec1 .landing .main-img>span {
    position: absolute;
    bottom: calc(50% - 15px);
    cursor: pointer;
}

.coontainer .sec1 .landing .main-img .arrow-r {
    left: 30px;
}

.coontainer .sec1 .landing .main-img .arrow-l {
    right: 15px;
}

.bulits {
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    bottom: 30px;
}

.bulits li {
    width: 20px;
    height: 0;
    border: 2px solid #212529;
    margin: 5px;

}

.bulits li::marker {
    color: transparent;
}

.bulits li.active {
    border: 2px solid #B92728;
}

.coontainer .sec1 .landing .small-imgs {
    flex-wrap: wrap;
    padding-top: 30px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.coontainer .sec1 .landing .small-imgs .crd span {
    display: block;
}

.coontainer .sec1 .landing .small-imgs .crd {
    padding: 22px;
}

.coontainer .sec1 .landing .small-imgs img {
    height: 100%;
    width: 100%;
}

.coontainer .sec1 .landing .small-imgs span {
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #212529;
    margin-top: 20px;
}

.coontainer .sec1 .landing .brands {
    text-align: center;
    padding-bottom: 50px;
}

.coontainer .sec1 .landing .brands h1 {
    font-family: 'Tajawal';
    font-weight: 700;
    font-size: 28px;
    align-items: center;
    color: #212529;
    margin-top: 50px;
}

.coontainer .sec1 .landing .brands .imgs {
    margin: auto;
    align-items: center;
}

.coontainer .sec1 .landing .brands .imgs img {
    padding: 25px 30px;
}

.coontainer .sec1 .footer1 {
    background-color: #B92728;
    display: flex;
    height: fit-content;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.coontainer .sec1 .footer1 .slide h2 {
    font-family: 'Tajawal';
    font-weight: 400;
    font-size: 34px;
    display: flex;
    color: #FFFFFF;
}

/* End Section 1 */

/* Start Section 2*/
.coontainer .sec2 .Offer,
.coontainer .mob-sec2 .Offer {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.coontainer .sec2 .Offer h2,
.coontainer .mob-sec2 .Offer h2 {
    font-family: 'Tajawal';
    font-weight: 600;
    font-size: 28px;
    align-items: center;
    color: #212529;
}

.coontainer .sec2 .Offer button,
.coontainer .mob-sec2 .Offer button,
.coontainer .mob-sec2 .cards button {
    width: 120px;
    background-color: #B92728;
    color: #FFFFFF;
    font-family: 'Tajawal';
    font-weight: 500;
    text-align: center;
}

.coontainer .crds {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.coontainer .card {
    width: calc(100%/4 - 30px) !important;
}

.coontainer .crds .time {
    height: fit-content;
    padding: 10px 20px 0px 20px;
    align-items: center;
    flex-direction: row-reverse;
}

.coontainer .crds .time div {
    height: 60px;
}

.coontainer .crds .time div span {
    display: flex;
    width: 42px;
    height: 35px;
    background: #B92728;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Syncopate;
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    position: relative;
}

.coontainer .crds .time div span:not(.last)::after {
    position: absolute;
    content: ":";
    width: fit-content;
    height: fit-content;
    color: #B92728;
    top: calc(50% - 10px);
    left: 115%;
    font-size: 36px;
    font-family: 'Syncopate';
    font-weight: 400;
}

.coontainer .crds .time div p {
    font-family: Syncopate;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #B92728;
}

.coontainer .crds .card-text,
.coontainer .mob-sec2 .cards .crd .txt .card-text {
    font-family: 'Tajawal';
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.coontainer .crds .details,
.coontainer .mob-sec2 .cards .crd .txt .details {
    display: flex;
    justify-content: space-between;
    font-family: 'Tajawal';
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    color: #B92728;
    align-items: center;
}

.coontainer .sec2 .txt,
.coontainer .mob-sec2 .txt {
    text-align: center;
    align-items: center;
}

.coontainer .sec2 .txt p,
.coontainer .mob-sec2 .txt .p {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #212529;
    margin: 25px 0;

}

.coontainer .sec2 .txt h2,
.coontainer .mob-sec2 .txt h2 {
    font-family: 'Tajawal';
    font-weight: 700;
    font-size: 36px;
    color: #B92728;
    margin: 25px 0;
}

.coontainer .sec2 .txt h2 span,
.coontainer .mob-sec2 .txt h2 span {
    color: #212529;
}

.coontainer .sec2 .txt button,
.coontainer .mob-sec2 .txt button {
    background-color: #B92728;
    color: #FFFFFF;
    font-family: 'Tajawal';
    font-weight: 700;
    font-size: 48px;
    height: 90px;
    width: 85%;
    margin: 25px 0;
    position: relative;
}

.coontainer .sec2 .txt button::after,
.coontainer .mob-sec2 .txt button::after {
    position: absolute;
    content: "";
    width: 101%;
    height: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    top: -7%;
    left: -0.4%;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='50' ry='50' stroke='%23B92728FF' stroke-width='2' stroke-dasharray='11%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 50px;
}

/* End Section 2*/

/* Start Section 3*/
.coontainer .sec3 {
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    background: #FFF6F2;
    position: relative;
}

.coontainer .sec3 h1 {
    padding-top: 20px;
    margin-bottom: 50px;
    font-family: 'Tajawal';
    font-weight: 700;
    font-size: 36px;
    color: #212529;
}

.bulits2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
}

.bulits2 li {
    width: 10px;
    height: 10px;
    background: #D9DBE1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin: 5px;
    border-radius: 50%;

}

.bulits2 li::marker {
    color: transparent;
}

.bulits2 li.active {
    width: 16px;
    height: 10px;
    background: #B92728;
    border-radius: 100px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* End Section 3*/

/* Start Section 4*/


.coontainer .sec4,
.coontainer .mob-sec4 {
    background: #B92728;
    padding: 15px;
}

.coontainer .sec4 .txt,
.coontainer .mob-sec4 .txt {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Tajawal';
}

.coontainer .sec4 .txt {
    padding: 30px;
    margin: 0 70px;

}

.coontainer .mob-sec4 .txt {
    display: block;
}

.coontainer .mob-sec4 .txt .button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.coontainer .sec4 .txt h1,
.coontainer .mob-sec4 .txt h1 {
    font-weight: 500;
    font-size: 40px;
}

.coontainer .sec4 .txt p,
.coontainer .mob-sec4 .txt p {
    font-weight: 400;
    font-size: 18px;
}

.coontainer .sec4 .txt button,
.coontainer .mob-sec4 .txt button {
    background-color: #FFFFFF;
}

.coontainer .sec4 .crds,
.coontainer .mob-sec4 .crds {
    display: flex;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;

}

.coontainer .sec4 .crds .crd,
.coontainer .mob-sec4 .crds .crd {
    position: relative;
    z-index: 10;
    margin: 10px;

}

.coontainer .sec4 .crds .crd::after,
.coontainer .mob-sec4 .crds .crd::after {
    position: absolute;
    content: "";
    width: 166px;
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    top: -8px;
    left: -8px;
    /* background-color: blue; */
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='3' stroke-dasharray='7%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 100px;

}

.coontainer .sec4 .crds h3,
.coontainer .mob-sec4 .crds h3 {
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
}

/* End Section 4*/


/* Start Section 5*/
.coontainer .sec5 {
    background: #F2F2F2;
    padding-bottom: 50px;
}

.coontainer .sec5 .details {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;
    padding: 50px 0;

}

.coontainer .sec5 .details h1 {
    display: flex;
    justify-content: center;
    font-family: 'Tajawal';
    font-weight: 700;
    font-size: 36px;
    color: #212529;
}

.coontainer .sec5 .details img {
    position: absolute;
    left: 30px;
    cursor: pointer;
}

.coontainer .sec5 .details .sec {
    left: 54px;
    top: 63px;
}

.coontainer .sec5 .cerds {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
}

.coontainer .sec5 .cerds .main-crd {
    width: calc(100% / 2.75);
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    margin: 0 15px;
}

.coontainer .sec5 .cerds .main-crd .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coontainer .sec5 .cerds .main-crd .content h2 {

    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 30px;
    color: #212529;
}

.coontainer .sec5 .cerds .main-crd .content img {
    width: 80px;
    height: 111px;
}

.coontainer .sec5 .cerds .main-crd .crd {
    display: flex;
    padding: 20px 0;
    padding-bottom: 20px;
}

.coontainer .sec5 .cerds .main-crd .crd .img img {
    margin-left: 25px;
}

.coontainer .sec5 .cerds .main-crd .crd .txt {
    width: 100%;
}

.coontainer .sec5 .cerds .main-crd .crd .txt h3 {
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.coontainer .sec5 .cerds .main-crd .crd .txt p {
    font-family: 'Tajawal';
    font-weight: 400;
    font-size: 18px;
    color: #323232;

}

.coontainer .sec5 .cerds .main-crd .crd .txt .price {
    display: flex;
    justify-content: space-between;
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 36px;
    color: #B92728;
    align-items: center;
    line-height: 36px;
}

.coontainer .sec5 .cerds .main-crd .crd .txt .pric {
    position: relative;
    width: fit-content;
}

.coontainer .sec5 .cerds .main-crd button {
    width: 120px;
    background-color: #B92728;
    color: #FFFFFF;
    font-family: 'Tajawal';
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    position: relative;
    right: calc(100% - 145px);
}

.coontainer .sec5 .cerds .active {
    position: absolute;
    left: -15%;
}

/* End Section 5*/

/* Start Section 6*/
.coontainer .sec6 {
    background-color: #B92728;
    display: flex;
    align-items: center;
    padding: 80px 0;
    padding-right: 200px;
}

.coontainer .sec6 .img {
    position: relative;
    z-index: 10;
}

.coontainer .sec6 .img img {
    border: 7px solid #B92728;
    border-radius: 50%;
}

.coontainer .sec6 .img::after {
    position: absolute;
    content: "";
    background-color: #FFFFFF;
    height: 103%;
    width: 103%;
    top: -1.5%;
    left: -1.5%;
    z-index: -1;
    border-radius: 50%;
}

.coontainer .sec6 .txt {
    margin-right: 30px;
    font-family: 'Tajawal';
    font-style: normal;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 60%;
    position: relative;
}

.coontainer .sec6 .txt h2 {
    font-weight: 500;
    font-size: 36px;
}

.coontainer .sec6 .txt p {
    font-weight: 500;
    font-size: 24px;
}

.coontainer .sec6 .rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 90%;
}

.coontainer .sec6 .rate .icn-rate {
    display: flex;
    align-items: center;
}

.coontainer .sec6 .rate .icn-rate span {
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 22px;
}

.coontainer .sec6 .txt .icun {
    position: absolute;
    bottom: -80px;
    left: 20px;
}

.coontainer .sec6 .txt .icun .vector {
    position: absolute;
    left: 24px;
    bottom: 27px;
}

.coontainer .sec6 .txt .icun2 {
    position: absolute;
    bottom: -80px;
    left: 90px;
}

.coontainer .sec6 .txt .icun2 .vector2 {
    position: absolute;
    left: 27px;
    bottom: 26px;
    rotate: 180deg;
}

/* End Section 6*/

/* Start Section 7*/
.coontainer .sec7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.coontainer .sec7 .icon img {
    padding: 50px 0;
}

.coontainer .sec7 .txt h2 {
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 36px;
    color: #212529;
    padding: 10px 0;
}

.coontainer .sec7 .txt h2 span {
    color: #B92728;
}

.coontainer .sec7 .sbar {
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex-direction: column;
}

.coontainer .sec7 .sbar input {
    height: 56px;
    width: 717px;
    left: 0px;
    top: 0px;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    text-align: left;
    border: none;
    outline: none;
}

.coontainer .sec7 .sbar button {
    background-color: #B92728;
    color: #FFFFFF;
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 18px;
    transform: translate(-13px, -50px);
    width: 159px;
    height: 45px;
    margin-left: auto;
}

/* End Section 7*/

/* Start Section 8*/
.coontainer .sec8 {
    display: flex;
    justify-content: space-between;
    background-color: #F3A08E1F;
    background: rgba(243, 160, 142, 0.12);
    padding: 50px 40px;
}

.coontainer .sec8 .content {
    position: relative;
    padding: 0 40px;
}

.coontainer .sec8 .content img {
    padding: 0 0 20px 0;
}

.coontainer .sec8 .content p {
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 18px;
    padding: 5px 0;
    color: #000000;
}

.coontainer .sec8 .content .sm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.coontainer .sec8 .content h3 {
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 24px;
    color: #B92728;
    padding-bottom: 30px;
}

.coontainer .sec8 .content div {
    display: flex;
    padding: 10px 0 10px 0;
}

/* End Section 8*/

/* Start Footer */
.coontainer footer {
    background-color: #B92728;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coontainer footer h3 {
    font-family: 'Sulphur Point';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
}

/* End Footer */
/* mobile*/
.coontainer .mob-navBar {
    display: none;
}

.coontainer .mob-navBar .cntainer {
    width: 80vw;
}

.coontainer .navBar .navbar, .coontainer .mob-navBar .navbar {
    justify-content: space-between;
}

.coontainer .mob-navBar .navbar .form-control::placeholder {
    font-size: 15px;
}

.coontainer .mob-navBar2 {
    display: none;
}

.coontainer .sec1 .landing .mob-main-img {
    display: none;
}

.coontainer .mob-sec2 {
    display: none;
}

.coontainer .mob-sec2 .cards {
    padding: 50px;
    text-align: center;
}

.coontainer .mob-sec2 .cards .crd {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 0;
}

.coontainer .mob-sec2 .cards .crd .img {
    width: 30%;
}

.coontainer .mob-sec2 .cards .crd .img img {
    width: 100%;
    height: 100%;
}

.coontainer .mob-sec4 {
    display: none;
}


@media(max-width:1210px) {
    .coontainer .crds .details .price {
        font-size: 25px;
    }

    .coontainer .crds .time div span:not(.last)::after {
        left: 105%;

    }

    .coontainer .sec4 .crds,
    .coontainer .mob-sec4 .crds {
        margin: 0;
    }

    .coontainer .sec4 .txt,
    .coontainer .mob-sec4 .txt {
        margin: 0;
    }
    .coontainer .sec5 .cerds{
        justify-content: center;
    }
    .coontainer .sec5 .cerds .main3{
        display: none;
    }
    .coontainer .sec5 .cerds .main-crd{
width: fit-content;
    }
}

@media(max-width:1100px) {
    .coontainer .navBar {
        display: none;
    }

    .coontainer .navBar2 {
        display: none;
    }

    .coontainer .mob-navBar {
        display: block;
    }

    .coontainer .mob-navBar2 {
        display: block;
    }

    .coontainer .mob-navBar2 {
        justify-content: space-between;
    }

    .coontainer .mob-navBar2 .navbar .place h3,
    .coontainer .mob-navBar2 .navbar .lang {
        color: #FFFFFF;
    }

    .coontainer .mob-navBar2 .navbar .place {
        align-items: center;
    }

    .coontainer .crds .card-text {
        text-align: center;
        justify-content: center;
        font-size: 15px;
    }

    .coontainer .crds .details img {
        width: 50%;
    }

    .coontainer .crds .details .price {
        font-size: 18px;
    }

    .coontainer .crds .time div span {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .coontainer .crds .time {
        padding: 10px 5px 0 5px;
    }

    .coontainer .crds .time div {
        width: calc(100% / 4 - 7px);
    }

    .coontainer .crds .time div span:not(.last)::after {
        display: none;
    }

    .coontainer .crds .time div p {
        line-height: 27px;
        font-size: 11px;
    }

    .coontainer .mob-sec2 .txt button {
        font-size: 30px;
    }

    .coontainer .mob-sec2 .txt h2 {
        font-size: 26px;
    }

    .coontainer .mob-sec2 .text {
        background: #FFFFFF;
        padding: 10px 0;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt .price {
        font-size: 25px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt h3{
        font-size: 18px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt p{
        font-size: 15px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt .price img{
        width: 40%;
    }
    .coontainer .sec5 .details img{
        display: none;
    }
}

@media(max-width:760px) {
    .coontainer .mob-sec2 .cards .crd .img {
        width: 50%;
    }

    .coontainer .mob-sec2 .cards .crd .txt .card-text .p {
        font-family: 'Tajawal';
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        color: #323232;
    }

    .card-body {
        padding: 10px !important;
    }

    .coontainer .mob-sec2 h2 {
        margin-bottom: 0 !important;
    }

    .coontainer .mob-sec2 p {
        margin-bottom: 0 !important;
    }
    .coontainer .sec5 .cerds .main2{
        display: none;
    }
    .coontainer .sec5 .cerds .main-crd button{
        position: static;
        display: block;
    margin:auto;
    
    }
    .coontainer .sec5 .cerds .main-crd .crd:not(:last-child){
        border-bottom: 1px solid #C4C4C4;
    }

    .coontainer .sec6{
        padding: 50px 0;
    flex-direction: column;
    text-align: center;
    }
    .coontainer .sec6 .rate .icn-rate{
        display: none;
    }
    .coontainer .sec6 .rate{
        justify-content: center;
        width: 100%;
        padding-top: 10px;
    }
    .coontainer .sec6 .txt h2{
        font-size: 25px;
    }
    .coontainer .sec6 .txt{
        width: 90%;
    }
    .coontainer .sec6 .txt p{
        font-size: 13px;
    line-height: 30px;
    }

    .coontainer .sec6 .txt .icun {
        bottom: -45px;
        left:15px;
    }
    .coontainer .sec6 .txt .icun2 {
        bottom: -45px;
        left:60px;
 
    }
    .coontainer .sec6 .txt .icun img,
    .coontainer .sec6 .txt .icun2 img{
        width: 50%;
    }
    .coontainer .sec6 .txt .icun .vector{
        left: 27px;
    bottom: 12px;
    width: 10%;
    }
    .coontainer .sec6 .txt .icun2 .vector2{
        left: 28px;
        bottom: 12px;
        width: 10%;
    }
    .coontainer .sec7 .txt h2{
        font-size: 16px;
        text-align: center;
    }
    .coontainer .sec7 .sbar input{
        width: 90vw;
    }
    .coontainer .sec7{
        padding: 20px 0 ;
    }
    .coontainer .sec7 .sbar{
        padding-top: 20px;
    }
    .coontainer .sec7 .icon img{
        width: 50%;
        margin: auto;
        display: flex;
    }
    
}

@media(max-width:700px) {
    .coontainer .sec2 {
        display: none;
    }

    .coontainer .mob-sec2 {
        display: block;
        width: 100%;
        background: #FFF6F2;
        padding: 50px 0;
    }

    .tim {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 5px;
        font-family: 'Syncopate';
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #000000;
    }

    .price {
        font-size: 25px;
    }

    .day {
        text-align: center;
    }

    .coontainer .mob-sec2 .active {
        display: flex;
        flex-direction: row !important;
    }

    .coontainer .mob-sec2 .Offer {
        margin: 0px 20px;
        align-items: center;
    }

    .coontainer .mob-sec2 .cards .crd .txt {
        width: 50%;
    }

    .coontainer .sec3 {
        margin: 0;
    }

    .coontainer .sec3 h1 {
        font-size: 20px;
    }

    .coontainer .sec3 .crds {
        flex-direction: column;
        /* margin-left: 20px; */
        padding: 15px;
    }

    .coontainer .sec3 .crds .card {
        width: 90% !important;
    }

    .coontainer .sec3 .crds .card:not(:first-child) {
        display: none;
    }

    .coontainer .sec3 .crds .card-body {
        padding: 1rem 1rem !important;
    }

    .coontainer .sec4 .txt,
    .coontainer .mob-sec4 .txt {
        padding: 5px;
    }

    .coontainer .sec4 .txt h1,
    .coontainer .mob-sec4 .txt h1 {
        font-size: 30px;
    }

    .coontainer .sec4 .txt p,
    .coontainer .mob-sec4 .txt p {
        font-size: 15px;
    }
}

@media(max-width:570px) {

    .coontainer .sec1 .landing .small-imgs .crd1,
    .coontainer .sec1 .landing .small-imgs .crd2,
    .coontainer .sec1 .landing .small-imgs .crd3,
    .coontainer .sec1 .landing .small-imgs .crd4 {
        display: none;
    }

    .coontainer .sec1 .landing .brands {
        padding: 40px 0;
        background-color: #F2F2F2;
    }

    .coontainer .sec1 .footer1 {
        flex-direction: column;
    }

    .coontainer .sec1 .footer1 .slide {
        padding: 25px 0;
    }

    .coontainer .sec1 .landing .main-img {
        display: none;
    }

    .coontainer .sec1 .landing .mob-main-img {
        display: block;
    }

    .coontainer .mob-sec2 h2 {
        font-size: 0.9rem !important;
        margin: 0 !important;
    }

    .coontainer .mob-sec2 p {
        font-size: 0.8rem !important;
    }

    .coontainer .mob-sec2 .price {
        display: none;
    }

    .coontainer .mob-sec2 .txt .p {
        font-size: 18px !important;
    }

    .coontainer .mob-sec2 .txt .h2 {
        font-size: 14px !important;
    }

    .coontainer .mob-sec2 .txt button {
        font-size: 17px;
        height: 65px;
    }

    .coontainer .sec4 {
        display: none;
    }

    .coontainer .mob-sec4 {
        display: block;
    }

    .coontainer .mob-sec4 .crds .crd3,
    .coontainer .mob-sec4 .crds .crd4,
    .coontainer .mob-sec4 .crds .crd5,
    .coontainer .mob-sec4 .crds .crd6 {
        display: none;
    }
}

@media(max-width:450px) {
    .coontainer .mob-sec2 .cards {
        padding: 10px;
    }

    .tim {
        padding: 5px;
        font-size: 15px;
    }

    .coontainer .mob-sec2 .Offer button {
        width: 70px;
        font-size: 10px;
    }

    .coontainer .sec1 .landing .small-imgs .crd {
        width: 50%;
    }

    .coontainer .sec1 .landing .brands .imgs img {
        padding: 5px 20px;
        width: calc(100% / 3 - 31px);
    }

    .coontainer .mob-sec4 .txt h1 {
        font-size: 23px;
    }

    .coontainer .mob-sec4 .txt p {
        font-size: 12px;
    }
    .coontainer .sec5 .details{
        padding: 20px 0;
    }
    .coontainer .sec5 .details h1{
        font-size: 20px;
    }
    .coontainer .sec7 .sbar input::placeholder{
        font-size: 15px;
    }
    .coontainer .sec7 .sbar button{
        width: 80px;
        font-size: 11px;
    }
}

@media(max-width:360px) {
    .coontainer .mob-sec2 .cards .crd .txt .details img {
        width: 60%;

    }

    .coontainer .mob-sec2 p {
        font-size: 9px !important;
    }

    .coontainer .mob-sec2 h2 {
        font-size: 10px !important;
    }

    .tim {
        font-size: 10px;
        padding: 3px;
    }

    .card-body {
        padding: 5px 5px 0 0 !important;
    }

    .coontainer .mob-sec2 .cards .crd .txt .time {
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .coontainer .mob-sec2 .cards .crd .txt .time .day {
        margin: 3px;
    }

    .coontainer .sec1 .landing .brands .imgs img {
        padding: 5px 5px;
        width: calc(100% / 3 - 15px);
    }

    .coontainer .sec1 .landing .brands h1 {
        font-size: 22px;
    }

    .coontainer .sec1 .landing .small-imgs span {
        font-size: 15px;
    }

    .coontainer .mob-sec2 .txt .p {
        font-size: 13px !important;
    }

    .coontainer .mob-sec2 .txt .h2 {
        font-size: 10px !important;
    }

    .coontainer .mob-sec2 .txt button {
        font-size: 11px;
        height: 40px;
    }

    .coontainer .mob-sec4 .crds .crd {
        max-width: 40%;
    }

    .coontainer .mob-sec4 .crds .crd img {
        width: 90px;
    }

    .coontainer .mob-sec4 .crds .crd::after {
        width: 100px;
        height: 100px;
        top: -5px;
        left: -6px !important;
    }
    .coontainer .mob-sec4 .crds h3 {
        font-size: 12px;
    }
    .coontainer .sec5 .cerds .main-crd {
        padding: 10px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt .price {
        font-size: 15px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt h3{
        font-size: 13px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt p{
        font-size: 10px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt .price img{
        width: 40%;
    }
    .coontainer .sec5 .cerds .main-crd .crd .img img{
        width: 100%;
        padding: 0 10px;
    }
    .coontainer .sec5 .cerds .main-crd .content h2{
        font-size: 20px;
    }
    .coontainer .sec5 .cerds .main-crd .content img {
        width: 40px;
        height: 55.5px;
    }
    .coontainer .sec5 .cerds .main-crd .crd{
        padding: 0;
    }
    .coontainer .sec5 .cerds .main-crd button{
    width: 43%;
    font-size: 10px;
    margin-top: 10px;
    }

    .coontainer .sec6 .rate{
        justify-content: center;
        width: 100%;
        padding-top: 10px;
    }
    .coontainer .sec6 .txt h2{
        font-size: 22px;
    }
    .coontainer .sec6 .txt p{
        font-size:9px;
    line-height: 30px;
    }
    .coontainer .sec6 .img img {
        width: 75%;
    }
    .coontainer .sec6 .img::after{
        height: 106%;
        width: 80%;
        top: -3%;
        left: 10%;
    }
    .coontainer .sec7 .sbar input{
        height: 40px;
    }
    .coontainer .sec7 .sbar input::placeholder{
        font-size: 10px;
    }
    .coontainer .sec7 .sbar button{
        transform: translate(-13px, -35px);
    height: 30px;
    }
    .coontainer .sec7 .txt h2{
        font-size: 11px;
    }

}

@media(max-width:255px) {
    .coontainer .mob-sec2 p {
        font-size: 6px !important;
    }

    .coontainer .mob-sec2 h2 {
        font-size: 7px !important;
    }

    .tim {
        font-size: 7px;
        padding: 2px;
    }

    .coontainer .mob-sec2 .Offer button {
        font-size: 5px;
        width: 50px;
    }

    .coontainer .sec1 .landing .small-imgs span {
        font-size: 10px;
    }

    .coontainer .sec1 .landing .small-imgs .crd {
        padding: 10px 10px 10px 20px;
    }

    .coontainer .mob-navBar2 .navbar .place h3 {
        font-size: 10px;
        width: 37px;
    }

    .coontainer .mob-navBar2 .navbar .place img {
        width: 20px;
    }

    .coontainer .mob-navBar2 .navbar .place img:last-child {
        width: 10px;
    }

    .coontainer .mob-navBar2 .navbar .lang {
        width: 25px;
    }

    .coontainer .mob-navBar2 .navbar .lang h3 {
        font-size: 11px;
    }

    .coontainer .mob-navBar2 .navbar {
        height: fit-content;
    }

    .coontainer .mob-navBar .cntainer {
        width: 70%;
    }

    .coontainer .mob-navBar .navbar .form-control {
        padding: 10px 5px;
    }

    .coontainer .mob-navBar .navbar .form-control::placeholder {
        font-size: 10px;
    }

    .coontainer .mob-navBar .navbar .Sbar .icon {
        left: 30px;
        height: 10px;
        width: 10px;
        top: 3px;
    }

    .coontainer .sec1 .footer1 .slide h2 {
        font-size: 20px;
    }

    .coontainer .sec1 .footer1 .slide img {
        width: 40%;
    }

    .coontainer .mob-sec2 .txt .p {
        font-size: 13px !important;
    }

    .coontainer .mob-sec2 .txt .h2 {
        font-size: 8px !important;
    }

    .coontainer .mob-sec2 .txt button {
        font-size: 9px;
        height: 40px;
    }






    .coontainer .mob-sec4 .txt h1 {
        font-size: 8px;
    }

    .coontainer .mob-sec4 .txt p {
        font-size: 7px;
    }


    .coontainer .mob-sec4 .crds .crd {
        max-width: 40%;
    }

    .coontainer .mob-sec4 .crds .crd img {
        width: 50px;
    }

    .coontainer .mob-sec4 .crds .crd::after {
        width: 60px;
        height: 60px;
        top: -5px;
        left: -5px !important;
    }
    button, .coontainer .mob-sec4 .txt button {
        width: fit-content;
        font-size: 7px;
    }

    .coontainer .mob-sec4 .crds {
        align-items: baseline;
    }

    .coontainer .mob-sec4 .crds h3 {
        font-size: 7px;
    }

    .coontainer .sec5 .cerds .main-crd {
        padding:6px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt .price {
        font-size: 11px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt h3{
        font-size: 8px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt p{
        font-size: 6px;
    }
    .coontainer .sec5 .cerds .main-crd .crd .txt .price img{
        width: 40%;
    }
    .coontainer .sec5 .cerds .main-crd .crd .img img{
        width: 100%;
        padding: 0 5px;
    }
    .coontainer .sec5 .cerds .main-crd .content h2{
        font-size: 14px;
    }
    .coontainer .sec5 .cerds .main-crd .content img {
        width: 30px;
        height:40px;
    }
    .coontainer .sec5 .cerds .main-crd .crd{
        padding:5px 0;
    }


    .coontainer .sec6 .txt p{
        font-size:9px;
    line-height: 30px;
    }
    .coontainer .sec6 .img img {
        width: 40%;
    }
    .coontainer .sec6 .img::after{
        height: 106%;
    width: 44%;
    top: -3%;
    left: 28%;
    }
    

}